/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}

:root {
  --primary-color: #b66055;
  --primary-color-hover: #974e44;
  --primary-color-active: #793e37;

  --secondary-color: #ebebeb;
  --secondary-color-hover: #a5a5a5;
  --secondary-color-active: #878787;

  --text-gray-light: #ebebeb;
  --text-gray: #a5a5a5;
  --text-gray-dark: #878787;

  --border-color: #a5a5a5;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

small {
  color: var(--text-gray);
}

.p-disabled,
.p-component:disabled {
  opacity: 0.6;
}

.p-toolbar {
  padding: 1.125rem;
}

.p-button {
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  outline-color: transparent;
  font-weight: 600;
}

.p-button:not(:disabled):hover {
  background: var(--primary-color-hover);
  color: #ffffff;
  border-color: var(--primary-color-hover);
}

.p-button:not(:disabled):active {
  background: var(--primary-color-active);
  color: #ffffff;
  border-color: var(--primary-color-active);
}

.p-button.p-button-secondary {
  color: black;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.p-button.p-button-secondary:not(:disabled):hover {
  background: var(--secondary-color-hover);
  color: #ffffff;
  border-color: var(--secondary-color-hover);
}

.p-button.p-button-secondary:not(:disabled):active {
  background: var(--secondary-color-active);
  color: #ffffff;
  border-color: var(--secondary-color-active);
}

.p-button.p-button-link {
  color: var(--primary-color);
  background: transparent;
  border: transparent;
}

.p-button.p-button-link:not(:disabled):hover {
  background: transparent;
  color: var(--primary-color-hover);
  border-color: transparent;
}

.p-button.p-button-link:not(:disabled):hover .p-button-label {
  text-decoration: none;
}

.p-button.p-button-link:not(:disabled):focus {
  background: transparent;
  box-shadow: 0 0 0 0.2rem #bfdbfe;
  border-color: transparent;
}

.p-button.p-button-link:not(:disabled):active {
  background: transparent;
  color: #1d4ed8;
  border-color: transparent;
}

.p-button.p-disabled {
  background-color: #ebebeb;
  color: black;
}

/** INPUT TEXT **/

.p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid var(--border-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.p-inputtext:enabled:hover {
  border-color: var(--primary-color);
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  border-color: var(--primary-color-active);
}

.p-inputtext.ng-dirty.ng-invalid {
  border-color: #e24c4c;
}

.p-inputtext.p-variant-filled {
  background-color: #f3f4f6;
}

.p-inputtext.p-variant-filled:enabled:hover {
  background-color: #f3f4f6;
}

.p-inputtext.p-variant-filled:enabled:focus {
  background-color: #ffffff;
}

.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 0.65625rem;
}

.p-inputtext.p-inputtext-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 0.9375rem;
}

.p-inputtext {
  margin: 0;
}

.p-fluid .p-inputtext {
  width: 100%;
}

/* InputGroup */
.p-inputgroup {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.p-inputgroup-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-inputgroup .p-float-label {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.p-inputgroup .p-inputtext,
.p-fluid .p-inputgroup .p-inputtext,
.p-inputgroup .p-inputwrapper,
.p-inputgroup .p-inputwrapper > .p-component {
  flex: 1 1 auto;
  width: 1%;
}

/* Floating Label */
.p-float-label {
  display: block;
  position: relative;
}

.p-float-label label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  margin-top: -0.5rem;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
}

.p-float-label textarea ~ label {
  top: 1rem;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -0.75rem;
  font-size: 12px;
}

.p-float-label .input:-webkit-autofill ~ label {
  top: -20px;
  font-size: 12px;
}

.p-float-label .p-placeholder,
.p-float-label input::placeholder,
.p-float-label .p-inputtext::placeholder {
  opacity: 0;
  transition-property: all;
  transition-timing-function: ease;
}
.p-float-label .p-focus .p-placeholder,
.p-float-label input:focus::placeholder,
.p-float-label .p-inputtext:focus::placeholder {
  opacity: 1;
  transition-property: all;
  transition-timing-function: ease;
}

.p-input-icon-left,
.p-input-icon-right {
  position: relative;
  display: inline-block;
}

.p-input-icon-left > i,
.p-input-icon-left > .p-icon-wrapper,
.p-input-icon-right > i,
.p-input-icon-right > .p-icon-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-fluid .p-input-icon-left,
.p-fluid .p-input-icon-right {
  display: block;
  width: 100%;
}

/** END:INPUT TEXT **/

/** RADIO BUTTON **/

.p-radiobutton {
  width: 22px;
  height: 22px;
}

.p-radiobutton .p-radiobutton-box {
  border: 2px solid #d1d5db;
  background: #ffffff;
  width: 22px;
  height: 22px;
  color: #4b5563;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  outline-color: transparent;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--primary-color-hover);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem var(--primary-color-active);
  border-color: var(--primary-color-active);
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 12px;
  height: 12px;
  transition-duration: 0.2s;
  background-color: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: var(--primary-color);
  background: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: var(--primary-color-hover);
  background: var(--primary-color-hover);
  color: #ffffff;
}

.p-radiobutton
  .p-radiobutton-box.p-highlight:not(.p-disabled):hover
  > .p-radiobutton-icon {
  background-color: var(--primary-color-hover);
}

.p-radiobutton.p-variant-filled .p-radiobutton-box {
  background-color: #f3f4f6;
}

.p-radiobutton.p-variant-filled .p-radiobutton-box:not(.p-disabled):hover {
  background-color: #f3f4f6;
}

.p-radiobutton.p-variant-filled .p-radiobutton-box.p-highlight {
  background: #3b82f6;
}

.p-radiobutton.p-variant-filled
  .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  background: #1d4ed8;
}

p-radiobutton.ng-dirty.ng-invalid > .p-radiobutton > .p-radiobutton-box {
  border-color: #e24c4c;
}

.p-input-filled .p-radiobutton .p-radiobutton-box {
  background-color: #f3f4f6;
}

.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
  background-color: #f3f4f6;
}

.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
  background: #3b82f6;
}

.p-input-filled
  .p-radiobutton
  .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  background: #1d4ed8;
}

.p-radiobutton-label {
  margin-left: 0.5rem;
}

.p-radiobutton {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  position: relative;
}

.p-radiobutton-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-radiobutton-icon {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) scale(0.1);
  border-radius: 50%;
  visibility: hidden;
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
  transform: translateZ(0) scale(1, 1);
  visibility: visible;
}

p-radiobutton {
  display: inline-flex;
  vertical-align: bottom;
  align-items: center;
}

.p-radiobutton-label {
  line-height: 1;
}

/** END:RADIO BUTTON **/

/** INPUTTEXTAREA **/
.p-inputtextarea-resizable {
  overflow: hidden;
  resize: none;
}

.p-fluid .p-inputtextarea {
  width: 100%;
}

/** END:INPUTTEXTAREA **/
