/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}

:root {
  --primary-color: #b65f54;
  --secondary-color: #ebebeb;

  --text-gray-light: #ebebeb;
  --text-gray: #a5a5a5;
  --text-gray-dark: #878787;
}

body {
  margin: 0;
}

.p-toolbar {
  padding: 1.125rem;
}

.p-button {
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  outline-color: transparent;
  font-weight: 600;
}

.p-button.p-button-secondary {
  color: black;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.p-button.p-button-link {
  color: black;
  background: transparent;
  border: transparent;
}
